{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container bg-light" style="border-radius: 5px;margin-top: 5vh">
        <div id="form-new">
            <div class="row">
                <div class="col"></div>
            </div>
            <div class="text-center but" style="margin-top: 10px;border-radius:5px">
                <h2>Change Password</h2>
                <div class="text-danger" id='error'>
                </div>
            </div>
            <hr>
            <div>
                {% if error %}
                    <h5>{{ error }}</h5>
                {% endif %}
            </div>
            <form style="padding: 10px;border: solid 1px #d9d9d9;border-radius:5px" style="padding: 5px" method="post" id="change">
                {% csrf_token %}
                {#  <div class="form-group">#}
                {#    <label for="id_old_password">Old Password:</label>#}
                {#    <input class="form-control" id="id_old_password" name="password" type="password" placeholder="Old Password" autofocus="">#}
                {#  </div>#}
                <div class="form-group">
                    <label for="id_new_password">New Password:
                        <input class="form-control" id="id_new_password" style="width:100%" name="password1" placeholder="New Password"
                               type="password">
                    </label>
                </br>
                    <label for="id_re_new_password">Re-type New Password:
                        <input class="form-control" id="id_re_new_password" name="password2"
                               placeholder="Re-type New Password" style="width:100%" type="password">
                    </label>
                </div>
                <input type="submit" id="btnUpdate" value="Send Link" class="btn btn-primary">
            </form>

        </div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}