{% extends 'base.html' %}
{% load static %}
{% block content  %}
    <div>
    {% if status %}
        <h5>{{ status }}</h5>
    {% endif %}
    </div>
<form method="post" id="change" action="{% url 'customer:forgot_password' %}">
  {% csrf_token %}
    <label for="id_re_new_password">Email:
      <input class="form-control" id="email" name="email" placeholder="type your email" type="email">
    </label>
  </div>
  <input type="submit" id="btnUpdate" value="Update" class="btn btn-primary">
</form>
{% endblock %}