{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container bg-light" style="border-radius: 5px;margin-top: 10vh">
        <div id="form-new">
            <div class="row">
                <div class="col"></div>
            </div>
            <div class="text-center but" style="margin-top: 10px;border-radius:5px">
                <h2>LOGIN</h2>
            </div>
            <hr>
            <div class="text-left">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form style="padding: 10px;border: solid 1px #d9d9d9;border-radius:5px"
                      action="{% url 'customer:login' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn but" style="width:100%" type="submit" name="login" value="Login">Login
                    </button>
                </form>
            </div>
            <div class="row" style="margin: 10px">
                <div class="col">
                    <a class="btn  but" style="width:100%" href="#" name="login" value="Login">Forgot password
                    </a>
                </div>
                <div class="col">
                    <a class="btn  but" style="width:100%" href="{% url 'customer:register' %}" type="submit">I do not
                        have an account
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}
