{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"><img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                                             class="img-radius" alt="User-Profile-Image"></div>
                                    <h6 class="f-w-600">{{ profile.first_name }} {{ profile.last_name }}</h6>
                                    <p>{{ profile.user_type }}</p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">{{ profile.email }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="text-muted f-w-400">{{ profile.phone }}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Date Joined</p>
                                            <h6 class="text-muted f-w-400">{{ profile.date_joined }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Last Login</p>
                                            <h6 class="text-muted f-w-400">{{ profile.last_login }}</h6>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <a class="btn  but" style="width:100%"
                                               href="{% url 'customer:edit' user.id %}"
                                               type="submit">Edit
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="btn  but" style="width:100%" href="{% url 'product:home' %}"
                                               type="submit">Back To Home
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Previous Orders</h3>
                <hr>
                <table class="table">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID</th>
                        <th>Amount</th>
                        <th>Ordered on</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ord in orders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'order:customerorderdetail' ord.pk %}"> #ORDER_{{ ord.id }}</a></td>
                            <td>{{ ord.total }}</td>
                            <td>{{ ord.created_at|timesince }} ago</td>
                            <td>{{ ord.order_status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
