{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block head %}
    <script src="{% static 'customer/js/register.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container bg-light" style="border-radius: 5px;margin-top: 5vh">
    <div id="form-new">
        <div class="row"><div class="col"></div></div>
        <div class="text-center but" style="margin-top: 10px;border-radius:5px">
            <h2>REGISTER</h2>
        </div>
        <hr>
        <form style="padding: 10px;border: solid 1px #d9d9d9;border-radius:5px" style="padding: 5px" enctype="multipart/form-data" method="post" id="form-post">
            {% csrf_token %}
            {{ user_forms|crispy }}
            <button class="btn but"  style="width:100%" id="signUpBtn"  name="login" value="Login">Register
            </button>
        </form>
    </div>
    <div class="row" style="margin: 10px">
            <div class="col">
                <a class="btn  but" style="width:100%" href="{% url 'customer:home' %}"  name="login" value="Login">Back To Home
                </a>
            </div>
            <div class="col">

                <a class="btn  but" style="width:100%" href="{% url 'customer:login' %}" type="submit"  >Login
                </a>
            </div>
        </div>
        <div class="row"><div class="col"></div></div>

</div>
{% endblock %}