{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        $.ajax({
            method: 'GET',
            url: "http://127.0.0.1:8000/api-auth/product/",
            success: function (data) {
                console.log('success');
                console.log(data)
                for (const obj of data) {
                        let product_name = obj.title;
                        let category = obj.category;
                        let initial_price = obj.marked_price;
                        let final_price = obj.selling_price;
                        let url = `{% url 'product:productdetail' 'none'%}`
                        url = url.replace("none",obj.slug)
                        const card =
                            `<div class="col-md-3 card">
                                    <div class="m-4">
                                        <h4><a href=${url}> ${obj.title}</a></h4>
                                        <img src=${obj.image} alt="" class="img-fluid" style="height: 200px; object-fit: contain;">
                                         <p class="mt-3">Price: <strike>Rs. ${obj.marked_price}</strike> Rs. ${obj.selling_price}</p>
                                       <a href=${url} class="btn btn-primary">Add To Cart</a>
                                    </div>
                            </div>`;
                        $('.product-container').append(card)
                    }


            },
            error: function () {
                console.log('error');
            }
        })

    </script>
    <div class="row " style="margin-top:50px">
        <div class="swiper mySwiper " style="height:250px;margin:20px;border-radius: 15px">
            <div class="swiper-wrapper">
                {% for p in product_list %}
                    <div class="swiper-slide">
                        <img src="{{ p.image.url }}" alt="" class="img-fluid"
                             style="height: 200px; object-fit: contain;">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row mt-3 product-container" id="product-container">

        </div>
    </div>

 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        {% block js %}
            <script src="{% static 'customer/js/home.js' %}"></script>
        {% endblock %}
{% endblock %}

